/*
  Theme Name: Sweet Digs
  Theme Author: Harley Alexander
*/

/*

  Global Setup

*/

body{
  background-color: #222;
  color: #fff;

  font-family: 'Karla', Helvetica, Arial, sans-serif;
}

h1{
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: bold;
}

h2,
h3,
h4,
h5{
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.fa,
.green{
  color: #70FCC3;
}

a{
  font-weight: bold;
  color: #fff;
}

a:hover{
  color: #70FCC3;
}

@media (max-width: 640px){
  h1{
    font-size: 48px;
  }
}


/*

  Branding, header and footer

*/

header,
footer{
  padding: 0.5rem 1rem;
}

footer{
  background-color: #333;
}

a.logo{
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

/*

  Navigation

*/

header .fa,
nav.side-menu .fa{
  font-size: 36px;
}

nav.side-menu{
  position: fixed;
  right: -20rem;
  top: 0;
  bottom: 0;

  width: 20rem;
  padding: 3rem 2rem;

  transition: all 250ms ease-out;

  background-color: #111;
}

nav.side-menu.open{
  right: 0;
}

nav.side-menu ul.site-links{
  margin-top: 3rem;
}


ul.site-links{
  margin: 0;
  list-style: none;
}

ul.site-links li a{
  color: #fff;
  display: block;
  font-size: 36px;
  border-bottom: 1px solid #333;
  margin-right: 1rem;
}

ul.site-links li a:hover{
  border-bottom-color: #fff;
}

@media (min-width: 1024px){
  section.main
    ul.site-links
      li{
    width: 33%;
    float: left;
  }
}

/*

  Main Section

*/

section.main{
  padding: 4rem 0 6rem;
}

/*

  Blog

*/

article.blog-post{
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
}

article.blog-post .byline{
  color: #555;
}


/*

  Forms

*/

form label{
  color: #fff;
}

form input,
form textarea{
  background-color: transparent !important;
  border: none!important;
  border-bottom: 1px solid #333 !important;
  color: #fff !important;
}

form input[type="submit"]{
  background-color: transparent !important;
  border: none!important;
  color: #70FCC3;
  font-weight: bold;
  text-transform: uppercase;
}

form input[type="submit"]:hover{
  background-color: #70FCC3 !important;
  color: #222 !important;
}
